.navbar {
	background: #667480;
	border-radius: 0;
	padding: 0;
}

.navbar li a {
	color: #fff;
    display: block;
    padding: 1em 0;
}

.navbar .dropdown-menu {
	right: 0;
	left: auto;
}

.auth-user {
    background: transparent;
    padding: 1em 0;
    border: 0;
    color: #fff;
}

/**
 * @breadcrumbs
 */
.breadcrumbs {
	background: #e5e5ea;
}

.breadcrumbs ul:after {
	content: '';
	clear: both;
	display: table;
}

.breadcrumbs ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs li {
	float: left;
}

.breadcrumbs a {
	color: #666;
}

.breadcrumbs i {
	margin-right: 1em;
	margin-left: 1em;
}

.breadcrumbs span {
	color: #999;
	display: block;
	padding: .7em 0;	
}

/**
 * @content
 */
.content {
	margin-top: 1.5em;
}

/**
 * @form-control
 */
.form-control {
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.12);
}

.row > .form-control-label {
	color: #999;
	padding-left: .9375rem;
	padding-right: .9375rem;
}

/**
 * @table
 */
.table {
	border: 1px solid #ddd;
	border-radius: 3px;
	border-collapse: initial;
}

.table thead th {
	background: #f7f7f9;
	border-top: 0;
	font-size: 14px;
}

.table thead th:not(:first-child) {
	border-left: 1px solid #eceeef
}

.table tbody td {
	font-size: 14px;
}

.table tbody td:not(:first-child) {
	border-left: 1px solid #eceeef
}