* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, 'sans-serif';
  margin: 2em 0 0;
  padding: 0;
}

p {
  line-height: 1.6em;
}

h1 {
  padding-top: 0;
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

ul, ol {
  padding-left: 1em;
}

a {
  color: blue;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 280px;
}

.welcome {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
}

.content {
  padding-left: 1em;
}

@media(max-width: 47.9em) {
  .container {
    padding: 0;
   }

  .welcome {
   width: 100%;
   position: static;
  }

  .content {
   padding: 0;
  }
}
