* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: #e5eaee;
  font-family: arial, 'sans-serif';
  margin: 2em 0 0;
  padding: 0;
}

p {
  line-height: 1.6em;
}

h1 {
  padding-top: 0;
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

ul, ol {
  padding-left: 1em;
}

a {
  color: blue;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 280px;
}

.welcome {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
}

.content {
  padding-left: 1em;
}

.post {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.12);
  margin-bottom: 1.5em;
}

.post-title {
  padding: 1em 1em 0;
}

.post-title h3 {
  margin: 0;
}

.post-title a {
  color: #222;
  font-size: 1.25em;
  text-decoration: none;
}

.post-title .created-at {
  color: #888;
  font-size: .8em;
  margin-bottom: .7em;
  font-style: italic;
}

.post-content {
  padding: 1em;
}

.post-content p {
  margin: 0;
  font-family: georgia, sans-serif;
  font-size: 1.1em;
}

@media(max-width: 47.9em) {
  .container {
    padding: 0 1em;
   }

  .welcome {
   width: 100%;
   position: static;
  }

  .content {
   padding: 0;
  }
}
