* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  font-family: 'arial', 'sans-serif';
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.6em;
}

h1 {
  padding-top: 0;
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

ul, ol {
  padding-left: 1em;
}

a {
  color: #2852A0;
}

a:hover {
  color: #111;
}

h1, h2, h3. h4. h5 {
  font-family: 'Roboto', sans-serif;
}

/* Formats */
code {
  background: #e5eaee;
  border-radius: 4px;
  color: #555;
  display: block;
  font-family: courier;
  font-size: 14px;
  line-height: 1.4em;
  padding: .8em;
}

/* @container */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 .75em;
  position: relative;
}

.nav {
  background: #3f6dff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.nav .branding {
  padding: .8em 0;
  margin-bottom: 1.5em;
}

.nav .branding h1 {
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: .2em;
}

.nav .branding span {
  font-size: .8em;
}

/* @post */
.post {
  border-bottom: 2px solid rgba(0,0,0,.12);
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.post-coverimage {
  margin-top: 1em;
  display: none;
}

.post-coverimage img {
  display: block;
}

.post-title {
  padding: 0;
}

.post-title h3 {
  margin: 0;
  font-weight: 500;
}

.post-title a {
  color: #222;
  font-size: 1.25em;
  text-decoration: none;
}

.post-title .created-at {
  color: #888;
  font-size: .8em;
  margin-bottom: .7em;
  font-style: italic;
}

.post-content {
  padding: 1em 0 0;
}

.post-content p {
  margin: 0;
  font-size: 1em;
}

/* @panel-block */
.panel-block {
  position: relative;
  margin-bottom: 1.3em;
  padding-bottom: 1.3em;
}

.panel-block-heading {
  color: #60626B;
  font-weight: 500;
  margin-bottom: 1em;
}

.panel-block-body {
  margin: 0;
}

.panel-block-body li:not(:first-child) {
  margin-top: .5em;
}

.panel-block::after {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.2);
  width: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}



@media(max-width: 47.9em) {
  .container {
    padding: 0 1em;
   }

  .welcome {
   width: 100%;
   position: static;
  }

  .content {
   padding: 0;
  }

  .post {
    margin-bottom: 1em;
  }
}
