* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  font-family: 'arial', 'sans-serif';
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.6em;
  margin: 1.6em 0 0;
}

h1 {
  padding-top: 0;
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

ul, ol {
  padding-left: 1em;
}

a {
  color: #2852A0;
}

a:hover {
  color: #111;
}

h1, h2, h3. h4. h5 {
  font-family: 'Roboto', sans-serif;
}

/* Formats */
code {
  background: rgb(241, 244, 246);
  border-radius: 4px;
  color: #555;
  display: block;
  font-family: courier;
  font-size: 14px;
  line-height: 1.6em;
  padding: .85em 1em;
  overflow-x: auto;
}

pre {
  margin: 1.6em 0 0;
  line-height: 1.6em;
}

/* @container */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 .75em;
  position: relative;
}

/* Nav */
.nav {
  background: #3f6dff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-bottom: 1.5em;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav .branding {
  padding: .8em 0;
}

.nav .branding h1 {
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: .2em;
}

.nav .branding span {
  font-size: .8em;
}

.nav .me {
  float: right;
  padding-top: 1.75em;
}

/* @heading */
.heading {
  margin-bottom: 2em;
}

.heading h1 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}

/* @post */
.post {
  border-bottom: 2px solid rgba(0,0,0,.12);
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.post:last-child {
  border-bottom: 0;
  margin: 0;
}

.post-coverimage {
  margin-top: 1em;
  display: none;
}

.post-coverimage img {
  display: block;
}

.post-title {
  padding: 0;
}

.post-title h3 {
  margin: 0;
  font-weight: 600;
}

.post-title a {
  color: #222;
  font-size: 1.25em;
  text-decoration: none;
}

.post-title .created-at {
  color: #888;
  font-size: .8em;
  margin-bottom: .7em;
  font-style: italic;
}

.post-content {
  padding: 0;
}

.post-content p {
  font-size: 1em;
}

.post-content ul {
  padding-left: 1.7em;
}

.post-content li {
    margin-bottom: .6em;
    list-style: square;
    line-height: 1.6em;
}

/* @panel-block */
.secondary-row {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.secondary-row .categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.secondary-row .categories ul:after {
  content: '';
  display: table;
  clear: both;
}

.secondary-row .categories li {
  float: left;
  list-style: none;
  margin: 0 1em 0 0;
  padding: 0;
}

.secondary-row .categories a {
  color: #222;
}

@media(max-width: 47.9em) {
  .container {
    padding: 0 1em;
   }

  .content {
   padding: 0;
  }

  
  .secondary-row {
    overflow-x: auto;
    white-space: nowrap;
  }

  .secondary-row .categories li {
    float: none;
    display: inline-block;
  }
}
